streamlit
pillow
gTTs
reportlab
pdf2image
pandas
rapidfuzz
transformers
torch
accelerate
# OCR engines:
easyocr
paddlepaddle
paddleocr
streamlit>=1.22.0
requests
google-generativeai>=0.8.0
python-dotenv   # optional for local .env
